<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CogitoSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CogitoSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <CogitoSharp.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>chat.f-list.net</value>
            </setting>
        </CogitoSharp.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CogitoSharp.Properties.Settings>
            <setting name="Account" serializeAs="String">
                <value>cogito</value>
            </setting>
            <setting name="Character" serializeAs="String">
                <value>Cogito</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9722</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="savePassword" serializeAs="String">
                <value>False</value>
            </setting>
        </CogitoSharp.Properties.Settings>
    </userSettings>
</configuration>